<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring001:war exploded">
    <output-path>$PROJECT_DIR$/../spring001/out/artifacts/spring001_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring001/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring001" />
        </element>
      </element>
    </root>
  </artifact>
</component>