<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjlemon.springboot.mapper.RoleMapper">

    <select id="findPermissionCodeListByName" resultType="java.lang.String">
        SELECT
            tp.permission_code code
        FROM
            t_permission tp
        LEFT JOIN t_role_permission trp ON tp.permission_id = trp.permission_id
        LEFT JOIN t_role tr ON trp.role_id = tr.role_id
        WHERE tr.role_name = #{roleName}
    </select>
</mapper>
