<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc005:war exploded">
    <output-path>$PROJECT_DIR$/../springmvc005/out/artifacts/springmvc005_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc005/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc005" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>