<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring003:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring003_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring003/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring003" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="spring-aop-4.3.2.RELEASE" />
          <element id="library" level="project" name="spring-test-4.3.2.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>