<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>show department</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--jquery必须在bootstrap.min.js前引入，作为bootstrap中插件的依赖-->
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <!--用于弹窗、提示、下拉菜单，包含了 popper.min.js-->
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <!--Bootstrap4 核心 JavaScript 文件-->
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <style type="text/css">
        th{
            color: blue;
            font-size: large;
        }
    </style>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>员工编号</th>
            <th>员工名称</th>
            <th>员工性别</th>
            <th>员工状态</th>
            <th>所属部门</th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}" id="id">userId</td>
            <td th:text="${user.userName}" class="t">userName</td>
            <td th:text="${user.userSex}" class="t">userSex</td>
            <td th:text="${user.userState==0?'有效':'删除'}" class="t">userState</td>
            <td th:text="${user.depName}" class="t">userDepName</td>
        </tr>
    </table>
</div>
</body>
</html>